.properties__author {
  position: absolute;
  top: 280px;
  left: 30px;
  width: 285px;
  font-size: 14px;
  line-height: 15px;
  font-weight: 300;
}
@media screen and (max-width: 885px) {
  .properties__author {
    position: unset;
  }
}
@media screen and (min-width: 886px) and (max-width: 1152px) {
  .properties__author {
    top: 240px;
  }
}

