@media screen and (max-width: 370px) {
  .video__properties {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 8px;
  }
}
@media screen and (min-width: 371px) and (max-width: 885px) {
  .video__properties {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 8px;
  }
}
