@import url(./__duration/properties__duration.css);
@import url(./__title/properties__title.css);
@import url(./__author/properties__author.css);

@media screen and (max-width: 370px) {
  .properties {
    position: absolute;
    left: 16px;
    bottom: 16px;;
  }
}
@media screen and (min-width: 371px) and (max-width: 885px) {
  .properties {
    position: absolute;
    left: 24px;
    bottom: 24px;
  }
}
