.content-title {
  max-width: 800px;
  font-size: 72px;
  line-height: 70px;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 320px) {
  .content-title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}
@media screen and (min-width: 321px) and (max-width: 375px) {
  .content-title {
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  .content-title {
    font-size: 42px;
    line-height: 46px;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  .content-title {
    max-width: 520px;
    font-size: 42px;
    line-height: 46px;
  }
}
